h1 {
  color: yellow;
  float: left;
}

body {
  background-color: hotpink;
  /* background-image: url("https://i.gifer.com/PL7r.gif"); */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.home {
  height: 30px;
  width: 30px;
  padding-top: 25px;
}

.topnav {
  top: 0px;
  width: auto;
  height: 75px;
  margin: auto;
  text-align: center;
  border: 5px solid#ccc;
  background-color: DarkGrey;
}

.topnav li {
  display:inline;
  padding-left: 25px;
  padding-right: 25px;
}

.topnav a {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


table {
  width: 25%;
  background-color: grey;
}
