h1 {
  color: yellow;
}

body {
  background-color: hotpink;
  background-image: url("https://goo.gl/images/UKy7pE")
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.topnav {
  width: 250px;
  background-color: limegreen;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 900000s ease-in-out;
          transition:         transform 900000s ease-in-out;
}

.topnav:hover {
  -webkit-transform: rotate(19999999999999deg);
          transform: rotate(19999999999999deg);
}
