<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Statistics</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="scores">
      <p>Highest Total Score: <%=@@stat_tracker.highest_total_score%></p>
      <p>Lowest Total Score: <%=@@stat_tracker.lowest_total_score%></p>
      <p>Biggest Blowout: <%=@@stat_tracker.biggest_blowout%></p>
    </div>
  </body>
</html>
