<html>
  <head>
    <title>Hockey Stats!</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <h1>Welcome!</h1>
    <div class="topnav">
      <a href="game_statistics">Game Statistics</a>
      <a href="league_statistics">League Statistics</a>
      <a href="season_list">Season Statistics</a>
      <a href="team_statistics">Team Statistics</a>
      <a href="about">About Project</a>
    </div>
  </body>
</html>
