<html>
  <head>
    <title>Hockey Stats!</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <h1>Welcome!</h1>
    <div class="spam">
      <a href="about">About Project</a>
    </div>
  </body>
</html>
