<html>
  <head>
    <title>Hockey Stats!</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body class="index-grid">
    <h1>Welcome!</h1>
    <div class="option-grid">
      <div class="option">
        <a href="game_statistics">
          <img src="/images/puck.png" alt="Test">
          <p>Game Statistics</p>
        </a>
      </div>
      <div class="option">
        <a href="league_statistics">
          <img src="/images/puck.png" alt="Test">
          <p>League Statistics</p>
        </a>
      </div>
      <div class="option">
        <a href="team_list">
          <img src="/images/puck.png" alt="Test">
          <p>Team Statistics</p>
        </a>
      </div>
      <div class="option">
        <a href="season_list">
          <img src="/images/puck.png" alt="Test">
          <p>Season Statistics</p>
        </a>
      </div>
      <div class="option">
        <a href="about">
          <img src="/images/puck.png" alt="Test">
          <p>About Project</p>
        </a>
      </div>
    </div>
  </body>
</html>
