<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Season List</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="topnav">
      <ul>
        <li><a href="/"><img class="home" src="/images/home.png" alt=""></a></li>
        <li><a href="game_statistics">Game Statistics</a></li>
        <li><a href="league_statistics">League Statistics</a></li>
        <li><a href="team_list">Team Statistics</a></li>
        <li><a href="season_list">Season Statistics</a></li>
        <li><a href="about">About Project</a></li>
      </ul>
    </div>
    <h1>Select a Season</h1>
    <%@@stat_tracker.games.group_games_by(:season).keys.each do |season|%>
    <a href="season_statistics?season=<%=season%>"><%="#{season.to_s[0..3]} - #{season.to_s[4..-1]}"%></a>
    <%end%>
  </body>
</html>
