<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team List</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div class="topnav">
      <img class="home" src="/images/puck.png" alt="home">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="game_statistics">Game Statistics</a></li>
        <li><a href="league_statistics">League Statistics</a></li>
        <li><a href="team_list" class="active">Team Statistics</a></li>
        <li><a href="season_list">Season Statistics</a></li>
        <li><a href="about">About Project</a></li>
      </ul>
    </div>
    <div class='team-option-grid'>
      <%@@stat_tracker.teams.all.each do |team|%>
        <div class="team-option">
          <a href="team_statistics?team=<%=team.id%>">
            <img src="/images/<%=team.id%>.png" alt="<%=team.team_name%>">
          </a>
        </div>
      <%end%>
    </div>
  </body>
</html>
